<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dq.blog.mapper.ArticleMapper">

    <!-- List<Archives> listArchives(); 获取每年的总档案数-->
    <select id="listArchives" resultType="com.dq.blog.pojo.dos.Archives">
        SELECT year(FROM_UNIXTIME(create_date / 1000, '%Y-%m-%d %h:%i:%s'))  as year,
               month(FROM_UNIXTIME(create_date / 1000, '%Y-%m-%d %h:%i:%s')) as month,
               count(*)                                                      as count
        FROM ms_article
        GROUP BY year, month
    </select>

    <!--Long categoryId,Long tagId,String year,String month-->
    <select id="listArticle" resultType="com.dq.blog.pojo.Article">
        select * from ms_article
        <where>
            1=1
            <if test="categoryId!=null">
                and category_id =#{categoryId}
            </if>
            <if test="tagId!=null">
                and id in (select article_id from ms_article_tag where tag_id =#{tagId})
            </if>
            <if test="year!=null and year.length>0 and month !=null and month.length>0">
                and year(FROM_UNIXTIME(create_date/1000,'%Y-%m-%d %h:%i:%s')) = #{year}
                and month(FROM_UNIXTIME(create_date/1000,'%Y-%m-%d %h:%i:%s')) = #{month}
            </if>
        </where>
        order by weight desc,create_date desc
    </select>
</mapper>